<div *ngIf="user==null" class="alert alert-info ">Loading user info <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
<div *ngIf="user!=null" class="card border-primary">
    <div class="card-header text-white bg-primary ">
        <span *ngIf="user!=null && user.userId!=null">Editing User {{user.userId}}</span>
        <span *ngIf="user==null || user.userId==null">Adding a new User</span>
    </div>
    <div class="card-block">
        <div class="form-group p-2">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                <input type="hidden" formControlName="userId">
              
                    <label class="col-form-label" for="username">User Name</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.username.valid,'alert-success': userForm.controls.username.valid}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-sm" formControlName="username" placeholder="enter a user name" 
                            [ngClass]="{'is-invalid':!userForm.controls.username.valid,'is-valid':userForm.controls.username.valid}">
                    </div>
                    <div *ngIf="userForm.controls.username.hasError('CheckingDuplicatedItem')" class="alert alert-info ">
                            <i class="fa fa-cog fa-spin fa-fw"></i><span class="sr-only">Checking userID</span>
                            Checking if username exists 
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.username.hasError('required')" class="validation-error-message">You must include a username.</div>
                    <div *ngIf="userForm.controls.username.hasError('minlength')" class="validation-error-message">Your username must be at least 5 characters long.</div>
                    <div *ngIf="userForm.controls.username.hasError('maxlength')" class="validation-error-message">Your username cannot exceed 10 characters.</div>
                    <div *ngIf="userForm.controls.username.hasError('DuplicatedItem') && userForm.controls.username.value" class="validation-error-message">username already exists</div>

                    <label class="col-form-label" for="name">Full Name</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.name.valid,'alert-success': userForm.controls.name.valid}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-sm " formControlName="name" placeholder="enter full name"
                        [ngClass]="{'is-invalid':!userForm.controls.name.valid,'is-valid':userForm.controls.name.valid}">
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.name.hasError('required')" class="validation-error-message">You must include a full name.</div>
                    <div *ngIf="userForm.controls.name.hasError('minlength')" class="validation-error-message">Your name must be at least 5 characters long.</div>
                    <div *ngIf="userForm.controls.name.hasError('maxlength')" class="validation-error-message">Your name cannot exceed 10 characters.</div>

                    <label class="col-form-label" for="address">address</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.address.valid,'alert-success': userForm.controls.address.valid}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-sm " formControlName="address" placeholder="enter an address"
                        [ngClass]="{'is-invalid':!userForm.controls.address.valid,'is-valid':userForm.controls.address.valid}">
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.address.hasError('required')" class="validation-error-message">You must include an address.</div>

                    <label class="col-form-label" for="city">city</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.city.valid,'alert-success': userForm.controls.city.valid}">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-sm" formControlName="city" placeholder="enter a city"
                        [ngClass]="{'is-invalid':!userForm.controls.city.valid,'is-valid':userForm.controls.city.valid}">
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.city.hasError('required')" class="validation-error-message">You must include a city.</div>

                    <label class="col-form-label" for="phone">phone</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.phone.valid,'alert-success': userForm.controls.phone.valid}">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <input class="form-control form-control-sm" formControlName="phone" placeholder="enter a phone number"
                        [ngClass]="{'is-invalid':!userForm.controls.phone.valid,'is-valid':userForm.controls.phone.valid}">
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.phone.hasError('required')" class="validation-error-message">You must include a phone number.</div>
                    <div *ngIf="userForm.controls.phone.hasError('pattern') && userForm.controls.phone.value" class="validation-error-message">Phone number is made of 9 digits</div>

                    <label class="col-form-label" for="email">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.email.valid,'alert-success': userForm.controls.email.valid}">
                            @
                        </span>
                        <input class="form-control form-control-sm" formControlName="email" placeholder="enter an email"
                        [ngClass]="{'is-invalid':!userForm.controls.email.valid,'is-valid':userForm.controls.email.valid}">
                    </div>
                    <div *ngIf="userForm.controls.email.hasError('CheckingDuplicatedItem')" class="alert alert-info ">Checking if email exists <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.email.hasError('required')" class="validation-error-message">You must include a user email.</div>
                    <div *ngIf="userForm.controls.email.hasError('email') && userForm.controls.email.value" class="validation-error-message">Your user email is not valid</div>
                    <div *ngIf="userForm.controls.email.hasError('DuplicatedItem') && userForm.controls.email.value" class="validation-error-message">Email already exists</div>

                    <label class="col-form-label" for="password">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.password.valid,'alert-success': userForm.controls.password.valid}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control form-control-sm" formControlName="password" placeholder="enter a password"
                        [ngClass]="{'is-invalid':!userForm.controls.password.valid,'is-valid':userForm.controls.password.valid}">
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.password.hasError('required')" class="validation-error-message">You must include a password</div>
                    <div *ngIf="userForm.controls.password.hasError('pattern')" class="validation-error-message">Password length must be at least 8 chars, 1 Uppercase letter, 1 Lowercase letter and 1 digit</div>

                    <label class="col-form-label" for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <span class="input-group-addon" [ngClass]="{'alert-danger': !userForm.controls.confirmPassword.valid,'alert-success': userForm.controls.confirmPassword.valid}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control form-control-sm" formControlName="confirmPassword" placeholder="reenter the password"
                        [ngClass]="{'is-invalid':!userForm.controls.confirmPassword.valid,'is-valid':userForm.controls.confirmPassword.valid}">
                    </div>
                    <!-- The hasError method can work with the built in validators but custom validators as well -->
                    <div *ngIf="userForm.controls.confirmPassword.hasError('MatchPassword')" class="validation-error-message">Passwords must be identical</div>

                <div *ngFor="let e of errors" class="validation-error-message">
                    {{e}}
                </div>     
                <div class="m-2">
                    <button type="submit"
                    [disabled]="!userForm.valid || userForm.pristine" class="btn btn-success">Save
                    <span *ngIf="submitting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>    
                    </button> &nbsp;
                    <button type="reset" (click)="revert()"
                    [disabled]="userForm.pristine" class="btn btn-danger">Revert</button>
                    <button  *ngIf="user!=null && user.userId!=null" type="button" (click)="addNewUser();"
                        class="pull-right btn btn-warning">New <span class="glyphicon glyphicon glyphicon-user" ></span></button>
                </div>
            </form>
        </div>
    </div>
</div>