
<div  class="panel panel-primary">    
    <div class="panel-heading">
        <h3 class="panel-title text-center">Users 
            <button class="btn btn-success btn-xs clickable filter pull-right" data-toggle="tooltip" title="Show Filter" (click)="showFilterBox=!showFilterBox;">
                &nbsp;<span class="glyphicon glyphicon-filter"></span>&nbsp;
            </button>
        </h3>
    </div>
    <div class="panel-body" [hidden]="!showFilterBox">
        
            <div class="form-group" >
                <div class="col-sm-11 col-xs-10">
                    <input type="text" class="form-control" #filterControl (keyup)="0"   placeholder="Enter the text to search"/>
                </div>
                <button type="button" class="btn btn-primary col-sm-1 col-xs-1 text-center"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div> 
        <div class="table-responsive">         
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('userId')">ID
                            <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='userId', 'glyphicon-sort-by-attributes': sortedByFieldName=='userId' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='userId' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('username')">Name
                            <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='username', 'glyphicon-sort-by-attributes': sortedByFieldName=='username' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='username' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('name')">Full name
                        <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='name', 'glyphicon-sort-by-attributes': sortedByFieldName=='name' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='name' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('address')">Address
                        <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='address', 'glyphicon-sort-by-attributes': sortedByFieldName=='address' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='address' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('city')">City
                        <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='city', 'glyphicon-sort-by-attributes': sortedByFieldName=='city' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='city' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('phone')">Phone
                        <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='phone', 'glyphicon-sort-by-attributes': sortedByFieldName=='phone' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='phone' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th><button class="btn-block btn-link" (click)="sortingByColumn('email')">Email
                        <span class="glyphicon  pull-right " 
                            [ngClass]="{'glyphicon-sort greyText': sortedByFieldName!='email', 'glyphicon-sort-by-attributes': sortedByFieldName=='email' && ascendingOrder, 'glyphicon-sort-by-attributes-alt': sortedByFieldName=='email' && !ascendingOrder}"></span>
                        </button>
                    </th>
                    <th></th>
                </thead>
                <tbody *ngIf="users==null">
                    <tr>
                        <td colspan=8 class="alert alert-info text-center">
                            Loading users info <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="users!=null || true" >
                    <tr *ngFor='let user of users | async | filterby : filterControl.value | sortby : sortedByFieldName : ascendingOrder'>
                        <td>{{user.userId}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button type="button" class="btn btn-link" title="edit" (click)="userFormTableService.editingItem(user.userId)" ><span role="button" aria-hidden="true" class="glyphicon glyphicon glyphicon-pencil" ></span></button>
                            <button type="button" class="btn btn-link" title="remove" (click)="showRemoveModalDlg(user)">  <span class="text-danger glyphicon glyphicon glyphicon-remove" ></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
</div>
     <app-modal>
    </app-modal>
    
