.validation-error-message {
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

.btn-link:focus,.btn-link:active {
    outline: none !important;
}

 .table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.col-form-label{
    padding:0px;
    margin:0px;
}

