.btn-link:focus,.btn-link:active {
    outline: none !important;
}
.greyText {
    color:	#e2e2e2;
}
th {
    text-align:center;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

.alert {
    padding: 0px 0px 0px 20px; 
    margin-bottom: 0px; 
}
.form-group {
     margin-bottom: 2px; 
}
label {
     margin-bottom: 0px; 
 }
 .table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

